<section class="page">
  <div class="background">
    <img class="lines" src="../../../assets/imgs/bg-lines-zo.png" alt="">
    <div class="ellipse ellipse-top"></div>
    <div class="ellipse ellipse-bottom"></div>
  </div>

  <ng-sidebar-container class="side-menu">
    <ng-sidebar [closeOnClickOutside]="true" [animate]="animateOpen" [(opened)]="opened">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>home</mat-icon>
            <p>HOME</p>
          </mat-expansion-panel-header>
          
          <div [routerLink]="['/']" class="item">
            <mat-icon>home</mat-icon>
            <p>HOME GERAL</p>
          </div> 
          
          <div [routerLink]="['/gerenciar']" class="item">
            <mat-icon>home</mat-icon>
            <p>HOMER GERENCIAL</p>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>shopping_bag</mat-icon>
            <p>PRODUTOS</p>
          </mat-expansion-panel-header>
          
          <div [routerLink]="['/gerenciar/consultar-produtos']" class="item">
            <mat-icon>search</mat-icon>
            <p>CONSULTAR PRODUTOS</p>
          </div> 
          
          <div [routerLink]="['/gerenciar/cadastro-produto']" class="item">
            <mat-icon>library_add</mat-icon>
            <p>CADASTRAR PRODUTO</p>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>group</mat-icon>
            <p>CLIENTES</p>
          </mat-expansion-panel-header>
          
          <div [routerLink]="['/gerenciar/consultar-clientes']" class="item">
            <mat-icon>search</mat-icon>
            <p>CONSULTAR CLIENTES</p>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>rate_review</mat-icon>
            <p>SUPORTE</p>
          </mat-expansion-panel-header>
          
          <div [routerLink]="['/gerenciar/consultar-tickets', '1']" class="item">
            <mat-icon>lock_open</mat-icon>
            <p>TICKETS ABERTOS</p>
          </div>

          <div [routerLink]="['/gerenciar/consultar-tickets', '0']" class="item">
            <mat-icon>lock</mat-icon>
            <p>TICKETS FECHADOS</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-sidebar>

    <div ng-sidebar-content class="content">
      <menu class="menu-gerenciar" [onlyUserInfos]="true"></menu>

      <div *ngIf="!opened" class="buttons-navigate">
        <button class="menu-sidenav-button" type="button" mat-button (click)="opened = !opened">
          <mat-icon>menu</mat-icon>
        </button>
  
        <button class="menu-sidenav-button" type="button" mat-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>
    </div>
  </ng-sidebar-container>

</section>