<section class="page form-default">
  <div class="background">
    <img class="lines" src="../../../assets/imgs/bg-lines-zo.png" alt="">
    <div class="ellipse ellipse-top"></div>
    <div class="ellipse ellipse-bottom"></div>
  </div>

  <menu [onlyUserInfos]="true"></menu>

  <div class="content">
    <button [routerLink]="['/']" class="return-button"><img src="../../../assets/imgs/voltar.png" alt=""></button>

    <div class="infos-cadastro-cliente infos-form">
      <div class="inputs">
        <form [formGroup]="model" ngForm (ngSubmit)="onSubmit()">

          <div class="input-info center">
            <img (click)="alterImage.click()" class="img-user" [src]="model.value?.foto" alt="">
            <p class="alter-img-user">ALTERAR FOTO</p>

            <input #alterImage style="display: none;" accept="image/png, image/jpeg" type="file" (change)="handleFileInput($event)" formControlName="foto">
          </div>

          <div class="input-info">
            <input autocomplete="off" placeholder="email" type="text" formControlName="email" [ngClass]="{error: model.controls?.email?.errors?.required }">
          </div>

          <div class="input-info">
            <input autocomplete="off" placeholder="senha" type="password" formControlName="password" [ngClass]="{error: model.controls?.password?.errors?.required || model.controls?.passwordConfirm?.errors?.passwordInvalid}">
          </div>

          <div class="input-info">
            <input autocomplete="off" placeholder="nome completo" type="text" formControlName="name" [ngClass]="{error: model.controls?.name?.errors?.required}">
          </div>

          <div class="input-info">
            <input autocomplete="off" placeholder="id discord" type="text" formControlName="discord">
          </div>
        </form>
      </div>
      
      <div class="button">
        <button [disabled]="!model.valid" (click)="onSubmit()" type="submit">ATUALIZAR</button>
      </div>
      
    </div>
  </div>
</section>