<section class="page form-default">
  <div class="background">
    <img class="lines" src="../../../assets/imgs/bg-lines-zo.png" alt="">
    <div class="ellipse ellipse-top"></div>
    <div class="ellipse ellipse-bottom"></div>
  </div>

  <menu [onlyUserInfos]="true"></menu>

  <div class="content">
    <button [routerLink]="['/']" class="return-button"><img src="../../../assets/imgs/voltar.png" alt=""></button>

    <p class="title-page">Meus produtos</p>

    <div class="content-prods">
      <div *ngFor="let produto of produtos; let i = index" class="produto" [ngClass]="{ reverse: i % 2 == 1 }">
          <img [src]="produto.imagem" onError="this.src='https://i.imgur.com/kZMNPpU.png'" alt="">
          
          <div class="infos">
              <p class="title">{{ produto.nome }}</p>
              <p class="desc">{{ produto.descricao }}</p>

              <div class="button">
                  <button (click)="download(produto)" class="ver-mais">Realizar download</button>
              </div>
              
          </div>
      </div>
  </div>
  </div>
</section>