.page-header {
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: all .25s;

    &.scroll-page-header {
        background: rgb(74 74 74 / 60%);
        
        .nav{
            height: 5rem;
        }
    }

    nav {
        height: 7rem;
        //background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        .logo{
            img{
                height: 7rem;
            }
        }

        .menu {
            ul{
                display: flex;
                justify-content: space-around;
                list-style: none;

                li{
                    a {
                        padding: 2rem;
                        font-size: 1.3rem;
                        font-family: 'Roboto';
                        font-style: normal;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .login {
            background: #9063ce6b;
            border-radius: 0.25rem;
            padding: 0.75rem 2rem;

            a {
                padding: 2rem;
                font-size: 1.3rem;
                font-family: 'Roboto';
                font-style: normal;
                color: #fff;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                }
            }

        }

        .infos-user {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .25s;
            margin: 0 1.5rem;

            .kart {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 2rem;
                position: relative;

                mat-icon {
                    font-size: 3rem;
                    color: #eaa92d;
                }
                
                .itens {
                    position: absolute;
                    height: 1rem;
                    width: 1rem;
                    background: #683569;
                    color: #fff;
                    border-radius: 50%;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    top: -0.9rem;
                    right: -1rem;
                    border: 0.1rem solid #291544;
                    user-select: none;
                }
            }

            .infos {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .25s;
                margin: 0 1.5rem;

                &:hover {
                    opacity: .7;
                    cursor: pointer;
                }
    
                img {
                    height: 4rem;
                    width: 4rem;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 0.2rem solid #eaa92d;
                    margin: 0 1rem;
                }
    
                a {
                    font-size: 1.3rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.menu-cart {
    height: 100vh;
    position: absolute;
    background: transparent;
    top: 0;
    right: 0;

    ::ng-deep aside {
        position: absolute;
        z-index: 999 !important;
        background: #1a191a !important;
        box-shadow: #ffffff1c 0 0 20px 5px;
        overflow-x: hidden;
    
        .background {
            position: absolute;
            top: 0;
            width: 125%;
            opacity: .5;
        }
    
        .background-two {
            position: absolute;
            top: 0;
            width: 125%;
            opacity: .5;
            transform: rotate(180deg);
            right: 0;
        }
    
        .header {
            position: relative;
            background: #eaa92d;
            padding: 2rem 10rem;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
    
            mat-icon {
                position: absolute;
                right: 1.5rem;
                transition: all .25s;
    
                &:hover {
                    opacity: .5;
                }
            }
    
            p {
                margin: 0;
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
    
        .infos {
            width: 25vw;
            padding: 1rem 5rem;
            height: calc(100% - 6rem);
            
            .itens {
                margin-top: 1rem;
                height: 85%;
                overflow: auto;
                padding-right: 0.5rem;
                padding-bottom: 2rem;
    
                .not-item {
                    font-size: 1.8rem;
                    color: #ffffff36;
                    height: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                }
    
                .item {
                    height: 8rem;
                    display: flex;
                    margin: 2rem 0;
                    user-select: none;
                    position: relative;
    
                    img {
                        height: 100%;
                        object-fit: contain;
                        border: 0.1rem solid #eaa92d;
                    }
    
                    .details {
                        padding: 0.5rem 2rem;
                        color: #fff;
    
                        .name {
                            font-weight: 700;
                            color: #c2c2c2;
                            font-size: 1.6rem;
                        }
    
                        .value {
                            font-weight: 500;
                            color: #c2c2c2;
                            margin-top: .5rem;
    
                            span {
                                font-weight: 300;
                                color: #eaa92d;
                                font-size: 1.8rem;
                            }
                        }
    
                        button {
                            color: #fff;
                            border: 0;
                            padding: 0.5rem 1.25rem;
                            border-radius: 0.15rem;
                            font-size: 1.2rem;
                            background: #fc4f4f;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0.35rem;
                            transition: all .25s;
    
                            mat-icon {
                                font-size: 1.4rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: fit-content;
                                width: fit-content;
                            }
    
                            &:hover {
                                opacity: .6;
                            }
                        }
    
                        p {
                            margin: 0;
                        }
                    }
                }
            }
    
            .bottom {
                .total {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
    
                    p {
                        margin: 1rem 0;
                        text-align: center;
                        font-size: 1.8rem;
                    }
    
                    hr {
                        width: 100%;
                    }
                }
    
                .btns {
                    margin-top: 1rem;
    
                    button {
                        width: 100%;
                        padding: 1rem 2rem;
                        font-size: 1.2rem !important;
    
                        border: 0;
                        border-radius: 0.5rem;
                        color: #fff !important;
                        background: rgba(111, 0, 255, 0.8);
                        border: 1px solid #422064;
                        box-shadow: 0px 0px 23px rgba(234, 169, 45, 0.2);
                        font-weight: 600;
                        transition: all .25s;
    
                        margin-top: 2rem;
    
                        &:hover {
                            background: rgba(86, 0, 197, 0.8);
                            cursor: pointer;
                        }
    
                        &:disabled {
                            opacity: .3;
    
                            &:hover {
                                background: rgba(111, 0, 255, 0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}



::ng-deep .menu-list-user {
    background: #0000006e !important;
    color: #fff;
    margin: 1.5rem 0rem;

    ::ng-deep .mat-icon {
        color: #fff !important;
    }

    ::ng-deep button {
        color: #fff !important;
        font-size: 1.3rem;
        padding: 0 3rem;
        border-bottom: 1px solid #ffffff29;
    }

    .mat-menu-content {
        padding: 0 !important;
    }
}