<menu></menu>

<section id="home" class="page home">
  <div class="background">
      <img class="lines" src="../../../assets/imgs/bg-lines-zo.png" alt="">
      <div class="ellipse ellipse-top"></div>
      <div class="ellipse ellipse-bottom"></div>
  </div>

  <div class="content">
      <div class="infos">
          <p>Acreditamos que nossa <span>Inovação</span><br><br> pode levar seu servidor a outro patamar</p>
      </div>

      <img class="boneco" src="../../../assets/imgs/bg-zo.png" alt="">
  </div>
</section>

<!-- <section id="sobre-nos" class="page">
  
</section> -->