.consulta-clientes.content {
    flex-direction: column;
    padding: 2rem 5rem;
    width: 70vw;

    .table {
        margin-top: 2rem;

        height: 50vh;
        overflow: auto;
    }

    table {
        background: #ffffff0f;
        width: 100%;

        ::ng-deep .mat-cell {
            color: rgba(182, 182, 182, 0.7);
        }

        ::ng-deep .mat-header-row {
            background: #626262 !important;

            th {
                color: #fff;
            }
        }
    }

    .btn-action {
        margin: 0 0.5rem;
        padding: 0.75rem 1.5rem;
        border: 0;
        border-radius: 0.2rem;
        color: #fff;
        transition: all .25s;

        &.delete {
            background: #f1000073;
        }
        
        &.update {
            background: #6df10073;
        }

        &:hover {
            opacity: .6;
        }
    }

    .input-info {
        display: flex;
        height: 100%;
        width: 100%;
    }

    input {
        width: 50%;
        font-size: 1.6rem;
        padding: 1rem 1rem;
        border: 0;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 23px rgba(234, 169, 45, 0.37);
        text-align: start;
        color: rgba(66, 32, 100, 1) !important;
        margin: 0 !important;
        outline: none;
        background: #fff;

        &.error {
            box-shadow: 0px 0px 23px rgb(234 45 45 / 35%);
            border: 0.1rem solid rgba(234, 45, 45, 0.9);
            background: #ffe1e1;
        }
    }

    .ver-produtos {
        width: fit-content;
        padding: .5rem 1rem;
        font-size: 1.2rem !important;

        border: 0;
        border-radius: 0.5rem;
        color: #fff !important;
        background: rgba(111, 0, 255, 0.8);
        border: 1px solid #422064;
        box-shadow: 0px 0px 23px rgba(234, 169, 45, 0.2);
        font-weight: 600;
        transition: all 0.25s;

        &:hover {
            background: rgba(86, 0, 197, 0.8);
            cursor: pointer;
        }
    }
}

