section.page {
    height: 100vh;
    width: 100%;
    background: #1A1A1A;
    overflow: hidden;

    &.login {
        position: relative;

        .background {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            
            .ellipse {
                filter: blur(40rem);
                height: 40rem;
                width: 40rem;
                border-radius: 50%;
                position: absolute;

                &.ellipse-top {
                    background: rgba(111, 0, 255, 1);
                    top: -65%;
                    left: -25%;
                }

                &.ellipse-bottom {
                    background: rgba(222, 29, 225, 0.75);
                    bottom: -65%;
                    right: -25%;
                }
            }

            .lines {
                height: 25rem;
                object-fit: contain;
                opacity: .7;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1.25fr 1fr;
            align-content: center;
            justify-content: center;
            height: 100%;

            .home {
                position: absolute;
                left: 2rem;
                top: 2rem;
                font-size: 1.3rem;
                color: #fff;
                z-index: 1;
                background: transparent;
                border: 0;
            }

            .bg-infos {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 100%;
                background: linear-gradient(90deg,#360c30 0%,rgba(158,45,108,0) 100%);
                position: relative;

                .background-tech {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: -20%;
                    object-fit: cover;
                    opacity: .025;
                    // transform: rotate(90deg);
                }
            }

            .infos-login {
                height: 100vh;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 15rem;
                z-index: 2;
                // padding: 0rem 10rem;

                .title {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    color: #eaa92d;
                    font-size: 4rem;
                    width: 100%;
                    text-align: start;
                    margin-top: -5rem;
                }

                .error {
                    font-size: 1.6rem;
                    text-align: start;
                    width: 100%;
                    color: red;
                    margin-top: 1rem;
                    max-height: 8rem;
                    overflow: auto;
                    overflow-x: hidden;
                }

                .inputs {
                    width: 100%;

                    .input-info {
                        margin: 3rem 0;
                    }

                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        color: #9c7936;
                        font-size: 1.7rem;
                        margin: .5rem 0;
                    }

                    input {
                        width: 100%;
                        font-size: 1.6rem;
                        padding: 1rem 2.25rem;
                        border: 0;
                        border-radius: 0.5rem;
                        background-color: white !important;
                    }
                }

                .button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        // width: 50%;
                        width: 20rem;
                        font-size: 1.4rem;
                        padding: 1rem;
                        border: 0;
                        border-radius: 1.5rem;
                        background: #eaa92d;
                        color: #fff;
                        font-weight: 600;
                        margin-top: 1.5rem;
                        transition: all .25s;
                        margin: 1.5rem 1rem;

                        &:hover {
                            background: #eaa82db9;
                        }
                    }
                }

                img {
                    height: 1rem;
                }
            }

            .ilustration {
                display: flex;
                justify-content: center;
                align-items: center;

                .boneco {
                    object-fit: contain;
                    height: 80rem;
                    position: relative;
                }
            }
        }
    }
}