<section id="produtos" class="page produtos">
    <div class="background">
        <img class="lines" src="../../../assets/imgs/bg-lines-zo.png" alt="">
        <div class="ellipse ellipse-top"></div>
        <div class="ellipse ellipse-bottom"></div>
    </div>

    <menu>
        
    </menu>

    <div class="content">
        <div class="produto">
            <img class="img-prod" [src]="produto.imagem" onError="this.src='https://i.imgur.com/kZMNPpU.png'" alt="">

            <div class="infos">
                <p class="title">{{ produto.nome }}</p>
                <p class="desc">{{ produto.descricao }}</p>

                <p class="valor">{{ produto.valor | currency: 'BRL' }}</p>
            </div>

            <div class="panel-actions">
                <div class="button">
                    <button (click)="addItemCart(produto.id)" [routerLink]="['/detalhes-carrinho']" class="ver-mais">Comprar Agora</button>
                    <button (click)="addItemCart(produto.id)" class="add-cart">Adicionar ao carrinho</button>
                </div>
            </div>
        </div>
    </div>
</section>