<section class="page cadastro">
  <div class="content">
    <button [routerLink]="['/']" class="home">HOME</button>

    <div class="bg-infos">
      <div class="infos-login">
        <p class="title">Cadastre um novo produto</p>
        <p *ngIf="error" class="error">{{ error }}</p>
  
        <div class="inputs">
          <form [formGroup]="model" ngForm (ngSubmit)="onSubmit()">
            <div class="input-info">
              <p>Nome</p>
              <input autocomplete="off" type="text" formControlName="nome" [ngClass]="{error: model.controls?.nome?.errors?.required }">
            </div>
      
            <div class="input-info">
              <p>Descrição</p>
              <input autocomplete="off" type="text" formControlName="descricao" [ngClass]="{error: model.controls?.descricao?.errors?.required }">
            </div>

            <div class="input-info">
              <p>Valor</p>
              <input autocomplete="off" type="number" formControlName="valor" [ngClass]="{error: model.controls?.valor?.errors?.required }">
            </div>
  
            <div class="input-info">
              <p>Imagem</p>
              <input accept="image/png, image/jpeg" type="file" (change)="handleFileInput($event.target.files)" formControlName="imagem" [ngClass]="{error: model.controls?.imagem?.errors?.required}">
            </div>

          </form>
        </div>
        
        <div class="button">
          <button [disabled]="!model.valid" (click)="onSubmit()" type="submit">FINALIZAR CADASTRO</button>
        </div>
        
      </div>

      <img class="background-tech" src="../../../assets/imgs/background-tech.png" alt="">
    </div>
    
    <div class="ilustration">
      <img class="boneco" src="../../../assets/imgs/bg-zo.png" alt="">
    </div>
  </div>
</section>