<section class="page form-default home-infos">
  <div class="boxs">
    <div class="box">
      <p class="value-info">{{ infos.qtdClientes }}</p>
      <p class="info">Clientes</p>
    </div>

    <div class="box">
      <p class="value-info">{{ infos.qtdVendas }}</p>
      <p class="info">Vendas Realizadas</p>
    </div>

    <div class="box">
      <p class="value-info">{{ infos.qtdProdutos }}</p>
      <p class="info">Produtos</p>
    </div>

    <div class="box">
      <p class="value-info">{{ infos.qtdTickets }}</p>
      <p class="info">Tickets Abertos</p>
    </div>
  </div>
</section>
